Source: gprolog-postgresql
Section: devel
Priority: optional
Maintainer: Salvador Abreu <spa@debian.org>
Standards-Version: 3.6.10
Build-Depends: gprolog, postgresql-dev

Package: gprolog-postgresql-cx
Architecture: any
Depends: gprolog-cx, ${shlibs:Depends}
Conflicts: 
Description: PostgreSQL interface for GNU Prolog/CX.
 GProlog-PostgreSQL is a low-level GNU Prolog binding for accessing
 PostgreSQL.  This package is not really meant to be used directly but rather
 as a building block for higher-level language processors such as ISCO
 (package forthcoming).
